.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.clearfix {
    clear: both;
}
/* Space out content a bit */
 body {
    padding-bottom: 20px;
    background:#232528;
}
.container-narrow > hr {
    margin: 30px 0;
}
.header {
    height: 50px;
    background-color: #3BAFDA;
    padding: 0px 15px;
    color: #FFF;
}
.header h3 {
    line-height: 50px;
}
.status-wrapper {
    width: 100%;
    background-color: #656D78;
    color: #FFF;
    padding: 10px;
}
ul.status {
    margin: 0;
    padding:0;
}
ul.status li {
    display: inline;
}
.status-wrapper .badge {
    background:none;
}
.badge {
    border-radius:1px;
}
.question-text h3 {
    margin: 0;
}
/* Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.overlay-screen {
    width: 100%;
    height: 100%;
    background-color: #3BAFDA;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFF;
    padding: 20px;
    z-index: 1001;
}
#start-btn {
    width: 200px;
}
#loader {
    position: absolute;
    z-index: 100;
    top: 0;
    left:0;
    background-color:rgba(0, 0, 0, 0.4);
    background-image: url(preloader.gif);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 64px 64px;
    background-position: center center;
    height: 100%;
}
.endscreen {
    display:none;
}
.endscreen .header {
    padding:0;
    margin-bottom: 30px;
}
.endscreen ul {
    list-style: none;
    margin:0;
    padding:0;
}
.endscreen .header h3{
    font-size: 50px;
    margin-bottom: 20px;
}
.endscreen ul li {
    margin:15px 0;
    padding: 10px;
    background: #eee;
    border-left:6px solid #ED5565;
    color:#555;
}
.endscreen ul li.correct {
    border-color:#48CFAD;
}
.endscreen ul .hl{
    font-weight:bold;
    margin-bottom:5px;
}
.endscreen.overlay-screen {
    height:auto;
}
.endscreen .result-img {
    width:75px;
    height:75px;
    background-position: center center;
    background-repeat: no-repeat;
    float:left;
    margin-right:15px;
}
.endscreen .social .fa{
    font-size:24px;
    width: 48%;
    float: left;
    background: #434A54;
    border:none;
}
.endscreen .social .fa-facebook{
    float:right;
}
.endscreen .social{
    margin-bottom:20px;
}
.conclusion{
    font-size:24px;
    font-weight:bold;
}
.share-cta{
    font-weight:bold;
    margin-bottom:10px;
    font-size:24px;
}
.startscreen .topics {
}
