.progress-bar {
	-webkit-transition: width 10s ease-out;
	transition: width 10s ease-out;
}
.progress-bar.finished {
	-webkit-transition: none;
	transition: none;
}
.progress-bar.counter {
	width:100%;
}

.progress{
	border-radius:0;
	height:8px;
	margin-bottom: 0;
    opacity: .75;
}