.question-wrapper {
    width: 100%;
    height: 100%;
}
.question-text {
    width: 100%;
    background-color: #E6E9ED;
    padding: 10px 15px;
}
.answer {
    display: block;
    width: 50%;
    padding: 0;
    margin: 0;
    float: left;
    background-size: cover;
}
.answers-images > div{
    cursor:pointer;
}
#all-questions {
    overflow: hidden;
}
.questions-inner-wrapper {
    position: relative;
    width: auto;
    height: 500px;
    -webkit-transition: left 1s ease-out;
    -moz-transition: left 1s ease-out;
    -ms-transition: left 1s ease-out;
    -o-transition: left 1s ease-out;
    transition: left 1s ease-out;
    left: 0%;
}
.question-wrapper {
    position: absolute;
}
.overlay-right, .overlay-wrong {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-animation: fadeIn ease-in 0.5s;
    -o-animation: fadeIn ease-in 0.5s;
    animation: fadeIn ease-in 0.5s;
}
.overlay-right {
    background-color: #0F0;
}
.overlay-wrong {
    background-color: #F00;
}
@-webkit-keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
