.question-wrapper {
    width: 100%;
    height: 100%;
}
.question-text {
    width: 100%;
    background-color: #E6E9ED;
    padding: 10px 20px;
}
.answer {
    display: block;
    width: 50%;
    padding: 0;
    margin: 0;
    float: left;
    background-size: cover;
}
